<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iam-web</display-name>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
  	
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>fr.epita.iam.servlets.AuthenticationServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>CreateIdentityServlet</servlet-name>
        <servlet-class>fr.epita.iam.servlets.CreateIdentityServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SearchIdentityServlet</servlet-name>
        <servlet-class>fr.epita.iam.servlets.SearchIdentityServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ModifyIdentityServlet</servlet-name>
        <servlet-class>fr.epita.iam.servlets.ModifyIdentityServlet</servlet-class>
    </servlet>
   <servlet-mapping>
      <servlet-name>AuthenticationServlet</servlet-name>
      <url-pattern>/authenticate</url-pattern>
   </servlet-mapping>
 
  	<servlet-mapping>
      <servlet-name>CreateIdentityServlet</servlet-name>
      <url-pattern>/create</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>SearchIdentityServlet</servlet-name>
      <url-pattern>/search</url-pattern>
   </servlet-mapping>
 
  	<servlet-mapping>
      <servlet-name>ModifyIdentityServlet</servlet-name>
      <url-pattern>/modify</url-pattern>
   </servlet-mapping>
   

</web-app>